<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mdp.innovation.obd_driving_api">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application>
        <activity android:name=".app.ui.PairObdActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>